.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex: 1;
  gap: 60px;
}

.wrapActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}

.wrapDatePicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapLine {
  display: flex;
  align-items: center;
  flex: 1;
}
.datePicker {
  font-size: 20px;
  margin-bottom: 40px;
}
